@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
@import 'bootstrap/dist/css/bootstrap.css'; 
body {
  margin: 0;
  font-family: "Red Hat Text", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.VDivider {
  border: 1px solid #000000;
  transform: rotate(270deg);
  width: 75px;
}

.BDivivder {
  margin-left: 4rem;
  margin-top: 4rem;
}